<app-header titulo="Grid"></app-header>

<ion-content>

    <!-- Mantiene un ancho fijo respecto a la relacion del dispositivo añadiendo padding -->
    <ion-grid fixed>
        <ion-row>
            <ion-col size="6" size-sm="3" size-md="4" size-lg="6" size-xl="2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse tempore, incidunt harum possimus ratione culpa numquam nobis explicabo magni laudantium, perferendis vel dignissimos omnis ab corrupti voluptas aspernatur blanditiis exercitationem?
            </ion-col>
            <ion-col size="6" size-sm="3" size-md="4" size-lg="6" size-xl="2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, vitae corporis asperiores culpa, illum rerum dolore fuga explicabo aliquam ullam voluptas, expedita eveniet enim nihil provident perspiciatis quidem ex earum.
            </ion-col>
            <ion-col size="6" size-sm="3" size-md="4" size-lg="6" size-xl="2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse tempore, incidunt harum possimus ratione culpa numquam nobis explicabo magni laudantium, perferendis vel dignissimos omnis ab corrupti voluptas aspernatur blanditiis exercitationem?
            </ion-col>
            <ion-col size="6" size-sm="3" size-md="4" size-lg="6" size-xl="2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, vitae corporis asperiores culpa, illum rerum dolore fuga explicabo aliquam ullam voluptas, expedita eveniet enim nihil provident perspiciatis quidem ex earum.
            </ion-col>
            <ion-col size="6" size-sm="3" size-md="4" size-lg="6" size-xl="2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse tempore, incidunt harum possimus ratione culpa numquam nobis explicabo magni laudantium, perferendis vel dignissimos omnis ab corrupti voluptas aspernatur blanditiis exercitationem?
            </ion-col>
            <ion-col size="6" size-sm="3" size-md="4" size-lg="6" size-xl="2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, vitae corporis asperiores culpa, illum rerum dolore fuga explicabo aliquam ullam voluptas, expedita eveniet enim nihil provident perspiciatis quidem ex earum.
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>
