<ion-header class="ion-no-border" translucent>
    <ion-toolbar>
        <!-- Slot posicion en donde iran los botones -->
        <ion-buttons slot="start">
            <!-- Boton back y defaultHref indica las rutas por defecto que redireccionara
            Forzar la misma apariencia en android e ios con mode="ios"  -->
            <ion-back-button defaultHref="/" text="Regresar" color="warning" mode="ios">
            </ion-back-button>
        </ion-buttons>
        <ion-title>{{titulo}}</ion-title>
    </ion-toolbar>
</ion-header>